<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Document</title>
</head>

<body>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="720"
        style="margin:0 auto;padding:0;font-family:Arial, Helvetica, sans-serif;">
        <tbody>
            <tr>
                <td>
                    <table align="center" border="0" cellpadding="10" cellspacing="0" width="720"
                        style="background:url(https://eyewear-user.s3-ap-southeast-1.amazonaws.com/email-images/gradient-bg.jpg) repeat-x #ffffff;padding:0 12px;">
                        <tbody>
                            <tr>
                                <td>
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td height="60"></td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <div style="text-align:center;">
                                                        <img src="https://eyewear-user.s3-ap-southeast-1.amazonaws.com/email-images/eyewearMenuTrp01Black@2x.png" style="width:415px;">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div style="text-align:center;">
                                                        <img src="https://eyewear-user.s3-ap-southeast-1.amazonaws.com/email-images/Anjel_HTO_gif"
                                                            style="width:415px;">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="30">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0"
                                                        width="676" style="padding:0 10px;">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center">
                                                                    <h2
                                                                        style="font-family:Arial, Helvetica, sans-serif;padding:0;margin:0;font-size:40px;font-weight:900;">
                                                                        <strong>HURRAY!</strong>
                                                                    </h2>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center">
                                                                    <h3
                                                                        style="font-family:Arial, Helvetica, sans-serif;padding:0;margin:0;font-size:30px;font-weight:900;">
                                                                        <strong>ORDER CONFIRMED</strong>
                                                                    </h3>

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" height="10">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" height="30">

                                                            </tr>
                                                            <tr>
                                                                <td align="center">
                                                                    <p
                                                                        style="font-family:Arial, Helvetica, sans-serif;padding:0;margin:0;font-size:18px;font-weight:500;line-height:34px;">
                                                                        Looks like you've made some changes on your Home Try-On appointment <br />
                                                                        from <%= data.olddatetoshow %>, at <%= data.oldtimetoshow %>, <br />
                                                                        to <strong style="font-weight:600;"><%= data.datetoshow %>, at <%= data.timetoshow %></strong>.
                                                                    </p>

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" height="30">

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center">
                                                                    <p
                                                                        style="font-family:Arial, Helvetica, sans-serif;padding:0;margin:0;font-size:18px;font-weight:400;line-height:34px;">
                                                                        We're super excited to "see" you, and <br> your surrounding a whole lot better. See you soon!</p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="50"></td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <h3
                                                        style="font-family:Arial, Helvetica, sans-serif;padding:0;margin:0;font-size:30px;font-weight:900;">
                                                        <strong>ORDER ID</strong>
                                                    </h3>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" height="10">

                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <h3
                                                        style="font-family:Arial, Helvetica, sans-serif;padding:0;margin:0;font-size:20px;font-weight:900;">
                                                        <strong>
                                                            <%= data.orderid %>
                                                        </strong>
                                                    </h3>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="45"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <hr style="width:100%;height:6px;background-color:#000;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="40"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0"
                                                        width="676" style="padding:0 10px;">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center">
                                                                    <h4
                                                                        style="font-family:Arial, Helvetica, sans-serif;padding:0;margin:0;font-size:30px;font-weight:900;text-transform:uppercase;">
                                                                        <strong>Shipping Details</strong>
                                                                    </h4>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" height="15">

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center">
                                                                    <p
                                                                        style="font-family:Arial, Helvetica, sans-serif;padding:0;margin:0;font-size:18px;font-weight:400;line-height:34px;">
                                                                        <strong><%= data.name %></strong><br />
                                                                        <%= data.number %>
                                                                    </p>

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" height="25">

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center">
                                                                    <p
                                                                        style="font-family:Arial, Helvetica, sans-serif;padding:0;margin:0;font-size:18px;font-weight:400;line-height:34px;">
                                                                        <%= data.address %>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" height="25">

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center">
                                                                    <p
                                                                        style="font-family:Arial, Helvetica, sans-serif;padding:0;margin:0;font-size:18px;font-weight:400;line-height:34px;">
                                                                        <strong>SCHEDULE</strong><br />
                                                                        <%= data.datetoshow %>, at <%= data.timetoshow %>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" height="40">

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>                                
                            </tr>
                            <tr>
                                <td>
                                    <hr style="width:100%;height:2px;background-color:#000;">
                                </td>
                            </tr>
                            <tr>
                                <td height="50">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
                                        style="padding:0;">
                                        <tbody>
                                            <tr>
                                                <td align="left">
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0"
                                                        width="299" style="padding:0 10px;">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center">
                                                                    <img src="https://eyewear-user.s3-ap-southeast-1.amazonaws.com/images/30-days-icon.png"
                                                                        width="64" height="69">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" height="10">

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center">
                                                                    <h3
                                                                        style="font-family:Arial, Helvetica, sans-serif;padding:0;margin:0;font-size:20px;font-weight:900;">
                                                                        <strong>Satisfaction Guarantee</strong>
                                                                    </h3>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" height="5">

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center">
                                                                    <p
                                                                        style="font-family:Arial, Helvetica, sans-serif;padding:0;margin:0;font-size:18px;font-weight:500;line-height:30px;">
                                                                        One year warranty <br />
                                                                        and 30 days satisfaction 
                                                                    </p>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td align="center" width="2" style="background-color:#000000;">
                                                </td>
                                                <td align="left">
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0"
                                                        width="299" style="padding:0 10px;">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center">
                                                                    <img src="https://eyewear-user.s3-ap-southeast-1.amazonaws.com/images/whatsapp.png"
                                                                        width="60" height="60">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" height="15">

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center">
                                                                    <h3
                                                                        style="font-family:Arial, Helvetica, sans-serif;padding:0;margin:0;font-size:20px;font-weight:900;">
                                                                        <strong><a href="https://wa.me/+6281803078888" style="color:#000"> Contact Us </a></strong>
                                                                    </h3>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" height="5">

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center">
                                                                    <p
                                                                        style="font-family:Arial, Helvetica, sans-serif;padding:0;margin:0;font-size:18px;font-weight:500;line-height:30px;">
                                                                        Should you have<br />
                                                                        any questions, reach<br />
                                                                        us at +62 817 0104 888
                                                                    </p>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="70"></td>
                            </tr>
                            <tr>
                                <td>
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
                                        style="padding:0 77px;">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <a
                                                        style="font-family:Arial, Helvetica, sans-serif;color:#000000; padding:0;margin:0;font-size:20px;font-weight:700;">
                                                        eyewear.com</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" height="20">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding:0 15px;"><a href="https://www.instagram.com/eyewear.lifestyle/">
                                                                    <img
                                                                            src="https://eyewear-user.s3-ap-southeast-1.amazonaws.com/images/ig.png"></a>
                                                                </td>
                                                                <td style="padding:0 15px;"><a href="https://id.linkedin.com/organization-guest/company/eyewear-id">
                                                                    <img
                                                                            src="https://eyewear-user.s3-ap-southeast-1.amazonaws.com/images/link.png"></a>
                                                                </td>
                                                                <td style="padding:0 15px;"><a href="https://www.facebook.com/eyewear.id">
                                                                    <img
                                                                            src="https://eyewear-user.s3-ap-southeast-1.amazonaws.com/images/fb.png"></a>
                                                                </td>
                                                                <td style="padding:0 15px;">
                                                                    <a href="https://vt.tiktok.com/ZSJdnyp2m/">
                                                                        <img src="https://eyewear-user.s3-ap-southeast-1.amazonaws.com/images/tik-tok.png">
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" height="20">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <p
                                                        style="font-family:Arial, Helvetica, sans-serif;padding:0;margin:0;font-size:12px;font-weight:900;">
                                                        <strong>© 2020, <a
                                                                style="color:#000 !important;">EYEWEAR.COM</a>
                                                            Owned by PT Artha Persada Kreatif</strong>
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" height="70">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
        </td>
        </tr>
        </tbody>

    </table>
</body>

</html>
